@model IEnumerable<ClientMDA.ViewModel.WenViewModel.WenCAddToCartItem>

@{
    ViewData["Title"] = "ThankU";
    Layout = "~/Views/Shared/_WenLayout.cshtml";
}
<figure style="float:left; position: fixed;left: 40px;top:50%;width:600px;margin-top: -2.5em;border-block: initial;list-style-type: none;z-index:999;">
    <img height="200" src="~/images/unknown.png" />
</figure>
<div style="display:block;height:40px;"></div>
<h4>購買成功!</h4>
<div style="display:block;height:40px;"></div>
<img class="w-75" src="~/images/WenProduct/wenthanks.jpg" />
<div style="display:block;height:40px;"></div>
<p>
    <a class="btn btn-outline-info" asp-action="Index">繼續購物</a>
</p>

